<div class="container about">
    <h1> A little about Us </h1>
    
    <p class="about-text"> In the special foods is an E-commerce company which will be providing the information or 
        the details of the restaurant nearby your location which you can find it through 
        the GPS system in your mobiles and websites. This will be help you to find the restaurants location 
        that you are present and get the restaurant details nearby your location. So, this is easy for the customer to 
        find the restaurant and you can get the order with the other options with a search option which are provided for customer or user. 
    </p>
    <p class="about-text">
        As we are the service provider to the people and Restaurant owners who are coming in front of you with different multiple 
        options that can make to find the orders more specific and make the service more flexible to get the order without 
        any kind of errors or confusion. 
    </p>  
</div>