<div class="container about">
    <h1> A little about Us </h1>
    
    <p class="about-text"> In the special foods is an E-commerce company which will be providing the information or 
        the details of the restaurant nearby your location which you can find it through 
        the GPS system in your mobiles and websites. This will be help you to find the restaurants location 
        that you are present and get the restaurant details nearby your location. So, this is easy for the customer to 
        find the restaurant and you can get the order with the other options with a search option which are provided for customer or user. 
    </p>
    <p class="about-text">
        As we are the service provider to the people and Restaurant owners who are coming in front of you with different multiple 
        options that can make to find the orders more specific and make the service more flexible to get the order without 
        any kind of errors or confusion. 
    </p>  
    
    <h1> Services </h1>
    
    <h3> For User: </h3>
    <ol>
        <li class="about-text-2"> With the help of the mobile application find the restaurant and special foodz nearby your location. </li>
        <li class="about-text-2"> It is very easy to identify the offers in a particular restaurants </li>
        <li class="about-text-2">You can call directly to the restaurant through the mobile application and order the food items that you like. </li>
        <li class="about-text-2">Talk2chef is the special item in specialfoodz.com where you can order your own likings by sending a small request from through website or mobile application.</li>
        <li class="about-text-2">Need a cake is a special piece on this where you can order the cake before the birthday by sending a quotation to a particular restaurant.</li>
        <li class="about-text-2">Street foodz this is for the small scale business foodz that are available on the streets to promote the street foodz and increase their business.
        </li>
    </ol>
    
    <h3> For Restaurant’s : </h3>
    
    <ol> 
        <li class="about-text-2"> All the registered restaurants will be having the accessibility with websites and mobile application with a unique ID provided by the company. </li> 
        <li class="about-text-2"> Increasing the marketing and promoting the restaurants nearby location.</li> 
        <li class="about-text-2"> Business development program which will help in making the restaurants to reaching their target and customer value added marketing.</li> 
        <li class="about-text-2"> As we are having collaborating with different companies the promoting of your business will be done in a big scale which will increase your business in a short period of time</li> 
    </ol>
    
</div>