<div class="container careers">
    <h1> CAREERS </h1>
    <img src="images/career.png" class="img-responsive" />
    <p> 
       We are looking for the best people who are interested in our company. As we will be considering the profile based upon the all the qualifications along with that we look main into the person how enthustic to work with us for the longer period of time and share his experience , at the same time we will be providing the employee the same thing what a employees expects. 
    </p>
    <p> 
        Skills and better updating the mind w.r.t scenario are the most important things that will help the employee to work or make him/her to sustain in the market for the longer period of time and to reach to the top level management. 
    </p>
    
    <h4> HAVE A GREAT PATH IN YOUR CAREER AND FUTURE </h4>
    
    <p>
       We will be recruiting for the required positions from the campus also. There is no particular preference that we will be taking the fresher or the experienced person it just depends upon the performance of the candidate.  
    </p>
    
    <h3> EMPLOYMENT REQUIRED FOR SPECIALFOODZ </h3>
    
    <h3> WE ARE HAPPY TO WORK WITH YOU ALL WHO ARE INTRESTED IN OUR COMPANY. WELCOME  </h3>
    
</div>