<div class="container cod"> 
    <h1> CASH ON DELIVERY POLICY </h1>
    
    <p> 
      Cash on delivery is a type of transaction in which payment for a good is made at the time of delivery. If the purchase does not make the payment the order will be returned back to the restaurant. Payment is made by cash when the customer receives the order. COD allows the customer who gets the order at the time of delivery instead of having the upfront payment. Payment is made by the shipping company and the shipping company relays the payment back to seller [SpecialfoodZ].   
    </p>
    
    <p> 
        Cash on delivery is one of the service that we specialfoodz Pvt Ltd is providing to the user who are ordering the food from the specialfoodz online portal. The service is provided to the customer in such a way that,
        Customer when open the website the user location will be identified automatically and shows the food items and restaurants based upon your preference you can look into the information “Nearby your location”.

    </p>
    
    <p> 
        On clicking on one or more food item(s) which you want can be ordered through the logging into the specialfoodz account through the social media account or the personal account to order the food items.
    </p>
    
    <p> 
        If you are looking through the mobile application you can able to track the food order where it is currently located and which provides real time data for the reaching the order to you.
    </p>
    
    <p> 
        We are using all the different types of technology and real time data to know the current status and condition of the city and its surroundings. So, we can find the best way to get the order to the customer at a less time period.
    </p>
    
    <h2> THREE STEPS OF ORDERING AND GETTING THE ORDER </h2>
    
    <ol>
        <li> <h3>Open page ≫ Select the food item ≫ Click order </h3> </li>
        <li> <h3> Get the order in less than 30 mins ≫ Pay the money </h3>  </li>
        <li>  <h3> Enjoy the order ≫ Get more offer/ Just be in touch with our services </h3> </li>
    </ol>
    
    <p> With the above following steps you can get the orders and more benefit in parallel.  </p>
    
    <h3> POLICY IN BRIEF </h3>
    
    <p> Specialfoodz.com provides you the option to pay Cash on Delivery [COD] in the established locations where specialfoodz is having deals with the restaurants. We provide the food order to the customer through the delivery company. This is how the COD works as follow: </p>
    
    <ol> 
        <li> 
            <p> You will be placing the order through www.specailfoodz.com. The order will be delivered to the customer in whom the account details that are mentioned in the user account.  </p>
        </li>
        <li> 
            <p> Cash on Delivery is available for a minimum order amount of Rs 50/- </p>
        </li>
        <li> 
            <p> There won’t be any kind of the shipping charges that are applicable to the customer at the time of COD. </p>
        </li>
        <li> 
            <p> When you are ordering the food item you can able to see the option of the COD whether it is available from that particular restaurant or not. If the Cash on Delivery is not available in your location or from the particular restaurant you can be able to go with Net Banking options.</p>
        </li>
        <li> 
            <p> Free delivery is provided to all type of food orderings from the customer with both COD and Net Banking or Online payment systems.  </p>
        </li>
        <li> 
            <p> You can able to track the order from the mobile application from where the order you are getting and on-time location and time of delivery status.</p>
        </li>
        <li> 
            <p> At the time of delivery, you will have to hand over the cash to the delivery person first, and then only you will be handed over the order. You can able to return the order to the delivery boy if the delivery boys are owned by the restaurants.</p>
        </li>
        <li> 
            <p> If the delivery is provided from some “X” Delivery Company, and you can’t open the food order at the time of delivery. </p>
        </li>
    </ol>
    
    <p> ENJOY THE SPECIALFOODZ SERVICES! ! ! </p>
</div>