<div class="container contact"> 
    <h1> CONTACT US </h1>
    
    <img src="images/contact.png" class="img-responsive" />
    
    <p> 
      WE LIKE SOMEONE WHO IS INTRESTED TO CONTACT US AND TELL SOME THING IN FRONT OF US OR PEOPLE WHO CAN TELL ABOUT THE THINGS WHICH HELP US IN BOOTING THE IDEAS OR TEAM UP WITH THE THINGS TO MAKE THE THINGS PERFECT. YOU ARE FREE TO CONTACT US FOR THE ANY KIND OF ISSUES AND QUARIES REGARDING THE WEBSITE TECHNICAL ISSUES OR THE MOBILE APPLICATION PROBLEMS OR THE SERVICES THAT WE ARE PROVIDING TO YOU.  
    </p>
    
    <p> 
        <b> USERS ACCOUNT HOLDERS </b> CAN BE IN CONTACT WITH THE SPECIALFOODZ MAIL ID, FEEDBACK AND RATING FOR THE SERVICES, FOOD ITEMS AND RESTAURANTS. THE USER WILL BE ABLE TO GET THE REPLY OR THE INFORMATION FOR THE QUARIES ASKED WITHIN 24 HRS TO YOUR CONTACT DETAILS IN ALL DIFFERENT FORMS [MAIL ID, SPECIALFOODZ ACCOUNT, MPBILE APP UPDATES and MOBILE NOTIFICATION THROUGH “SMS”].
    </p>
    
    <p> 
        <b> RESTAURANT ACCOUNT HOLDER </b> CAN ABLE TO CONTACT WITH THE SPECIALFOODZ THROUGH THE CUSTOMER RELATIONSHIP MANAGER WHICH THE DETAILS ARE PROVIDED AT THE TIME OF AGGREMENT. YOU CAN ABLE TO CONTACT TO US DIRECTLY WITH A CONTUNIOUS RESPONSE FROM YOUR SPECIALFOODZ RESTAURANT ACCOUNT ITSELF SO YOU CAN ABLE TO GET THE INFORMATION OR SOLUTION TO PROBLEM VERY FASTER ENOUGH.
    </p>
    
    <h2> CONTACT DETAILS </h2>
    
    <h2> MAIL ID : </h2> 
    
    <p> 
        <a href="mailto:contact@specialfoodz.com" target="_top">contact@specialfoodz.com</a>  [for the customer support queries and help] 
    </p>
    
    <p>
        <a href="mailto:partner@specialfoodz.com" target="_top">partner@specialfoodz.com</a> 
         [if you are the restaurant, who took deal with specialfoodz.com 
    </p>
    
    <p> TOLL FREE NO: +1800 2468 999 </p>
    
    <p> <b> WE WILL WRITE BACK FOR SURE ‼ </b> </p>

    
</div>