<div class="container faq"> 
    <h1> Frequently Asked Questions </h1>
    <ol> 
        <li>  
            <p> <b> What Specialfoodz actually do? </b> </p>
            <p> 
                Specialfoodz is the e-commerce online food ordering company which will be providing the services to the customer and to the restaurant owners. Our main objective is to provide the specialfoods to the customer who can find the specialfoodz nearby your location.
            </p>
       </li>
        
        <li> 
            <p> <b> How specialfoodz work in the market? </b> </p>
            <p> 
                Specialfoodz will be providing the online food ordering and creating a platform to the restaurants, chef’s and other individual chefs business. This model will be working on the B2C and B2B based model which help in increasing the revenue to the individuals and other inter connect business owners in this sector. 
            </p>
        </li>
        <li> 
            <p> <b> What was the process of ordering? </b> </p>
            <ul>
                <li> <p> Login with the specialfoodz account or through social media account [Facebook or Google] </p> </li>
                <li> <p> Search the food item which you like to order </p> </li>
                <li> 
                    <h3> <b> SEARCH: </b> </h3> 
                    <ol> 
                        <li> 
                            <p> 
                                For the comfort of the user the food items that will be showing nearby your location automatically based on the account details that you have entered while you register into Specialfoodz.com
                            </p> 
                        </li>
                        <li> 
                            <p> 
                                By clicking on the search tab which you can see | today’s Special | Need a cake | Restaurants| Offers |  
                            </p> 
                        </li>
                    </ol>
                </li>
                <li> <p> Click on the order and the order for the number of people </p> </li>
                <li> <p> Do the transaction as you like [Cash on Delivery / Online Payment </p> </li>
                <li> <p> Get the order in less than 30 mins or less than that based upon the traffic conditions </p> </li>
                <li> <p> You can give multiple orders at the same time with different restaurants. </p> </li>
                <li> <p> ENJOY THE ORDER </p> </li>
            </ul>
        </li>
        <li> 
            <p> 
                <b>What are the different methods of delivery?
                </b>
            </p>
            <p> 
                Road transport through 2 wheeler vehicles [Initially]
            </p>
            </li>
        <li> 
            <p> <b> What was the payment system? </b> </p>
            <p> We are using the cash on delivery and online payment system to get the orders. </p>
            <h3> <b> FOR CASH OF DELIVERY:  </b> </h3>
            <p> We are providing the a unique application for the customers if the money change is not returning back to you can if you are leaving Rs 5 or Rs 10/- when you get the order, the remaining amount will be shifted to the added into your specialfoodz account along with the <b> CREDITS </b>. So there is no chance of losing the money at the time of cash of delivery. </p>
        </li>
        <li> 
            <p> <b> How much time the delivery time will be taking to target customer?  </b> </p>
            <p> Initially, in the process of stating the services for the delivery system we will be providing the delivery at a time period of 30 mins. We are working continuously making better plans for the reducing the time period of delivery the food to the target customer. We are using the different online tracking system to observe the conditions of the city traffic so that we will be creating the best route to reach the customer in time.</p>
        </li>
        <li> 
            <p> <b> How can I provide the feedback for the food, restaurants or for the services that specialfoodz provide?</b> </p>
            <p> You can provide the feedback for the food, restaurants and for the specialfoodz through the feedback options that are provided in each and every food items along with the rating. The rating is completely perfect and we can explain you in detail [click here]. </p>
        </li>
        <li> 
            <p> <b> How simple to identify the restaurants? </b> </p>
            <p> It is very simple to identify the restaurants in the specialfoodz.com. As you will be entering into the website the website will be identifying the location through your IP address based on that the restaurants will be showing “Nearby Your Location”.  </p>
        </li>
        <li> 
            <p> <b> What was the process of LOGIN/REGISTER? </b> </p>
            <p> We can proceed login or registration process through the data entry options that are provided in the Login/Register page. With the support of the social media network options you are free to login through the social community websites.</p>
        </li>
        <li> 
            <p> <b> Are there any restrictions on use? </b> </p>
            <p> There are some of the restrictions like the some of the people who are positive with the website are keeping the adultery images into the website comments and in the fake login pages. We are strictly against to it. In this case the account will be deleted and further legal actions will be taken with the support of the government.</p>
        </li>
        <li> 
            <p> <b> What kind of credit cards can I use? </b> </p>
            <p> Specialfoodz will be accepting the Visa, Master, American Express, and Rupay.</p>
        </li>
        <li> 
            <p> <b> Can I share the login information with others for the restaurants owners?</b> </p>
            <p> We recommend you not to share the information to other mostly for the restaurant’s owner’s point of view as the all the information about the restaurant will be that your accounts and there will be chance of miss handling with it.</p>
        </li>
        <li> 
            <p> <b> How to cancel my order? </b> </p>
            <p> If you are not interested in the order and want to cancel the order which was placed we will be providing the facility to cancel the order which is provided in the ordering place which you can see the options in your account where the pervious orders are placed. Along with this you can have a look with the previous orders that you have made.</p>
        </li>
        <li> 
            <p> <b> How do we get back the money refund if any order is cancelled? </b> </p>
            <p> We will be refunding the money back to the customer on the some of the listed conditions. Please look into the link online money refund and Cancellation policy.</p>
        </li>
        <li> 
            <p> <b> Offers, Discounts, mailings etc. . . .</b> </p>
            <p> the user can able to get the information about the offers, discounts and mailings through login into the specialfoodz account for the subscription to get the continuous updates to know the continuous moves of the Specialfoodz.com</p>
        </li>
        <li> 
            <p> <b>Job offers . . .  </b> </p>
            <p> If you are looking into the job offer in SpecialfoodZ and be a part of SFZ team <a href="/#/careers"> click here </a> </p>
        </li>
    </ol>
</div>

