<div class="container feedback">
    <h1> FEEDBACK FORM </h1>
    
    <p> 
        We will very grateful if you provide some of the feeds about the company regarding the services that we provide to you. You can add the comments or mentions any kind of issues that you are facing can be done by filling the simple form below.
    </p>
    
    <p> 
       <b> GOT ANY SUGGESTIONS ≫ HELPS US FOR IMPROVEMENT ≫ LET US KNOW </b>
    </p>
    
    <form class="form-horizontal">
        <div class="form-group">
            <label for="inputName" class="col-sm-2 control-label">Name: </label>
            <div class="col-sm-10">
            <input type="text" class="form-control" id="inputName" placeholder="Enter Name">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail" class="col-sm-2 control-label">Email:</label>
            <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail" placeholder="Enter Email">
            </div>
        </div>
        <div class="form-group">
            <label for="inputMessage" class="col-sm-2 control-label">Message:</label>
            <div class="col-sm-10">
                <textarea class="form-control" rows="10"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">SUBMIT</button>
            </div>
        </div>
    </form>
    
</div>