<div id="footer" class="container-fluid">
    <div class="row topfooter">
        <img src="images/topfooter.png" class="img-responsive" />
    </div>
    <div class="row">
        <div id="leftfooter" class="col-md-2 col-md-offset-1">
            <h4> Newsletter </h4>
            <p> Subscribe our newsletter to get updates </p>
            <input class="form-control" placeholder="Your Email" type="email" />
            <button class="btn btn-success"> Subscribe </button>
        </div>

        <div id="midfooter" class="col-md-6">
            <div class="col-md-4">
                <h4> About </h4>
                <a href="/#/about"> About Us </a>
                <a href="/#/team"> SFZ Team </a>
                <a href="/#/"> Gallery </a>
                <a href="/#/"> Media </a>
                <a href="/#/careers"> Careers </a>
                <a href="/#/"> Contact Us </a>
            </div>
            <div class="col-md-4">
                <h4> Support </h4>
                <a href="/#/"> Feedback </a>
                <a href="/#/"> Enquiry </a>
                <a href="/#/faq"> FAQ </a>
                <a href="/#/"> Help </a>
                <a href="/#/"> Refer a Friend </a>
                <a href="/#/"> Link with Us </a>
            </div>
            <div class="col-md-4">
                <h4> Associate With Us </h4>
                <a href="/#/"> Restaurent Registration </a>
                <a href="/#/"> Bakery Registration </a>
                <a href="/#/"> Street Foodz Registration </a>
                <a href="/#/"> Corporates </a>
                <a href="/#/"> Advertise </a>
                <a href="/#/"> Mobile Apps </a>
            </div>
        </div>

        <div id="rightfooter" class="col-md-2">
            <h1> Need Help? </h1>
            <p> <i class="glyphicon glyphicon-phone"></i> toll-free-no </p>
            <p> <i class="glyphicon glyphicon-envelope"></i>  contact@specialfoodz.com </p>
        </div>
    </div>

    <div class="row">
        <div id="leftfooter" class="col-md-2 col-md-offset-1 no-border">
            <h4> Payment Options </h4>
            <p> Cash on Delivery Available </p>
        </div>

        <div id="midfooter" class="col-md-6 no-border">
            <div class="col-md-12 social-icons">
                <a href="https://www.facebook.com/specialfoodz/" target="_blank"> <i class="fa fa-facebook"></i> </a>
                <a href="http://twitter.com" target="_blank"> <i class="fa fa-twitter"></i> </a>
                <a href="http://plus.google.com" target="_blank"> <i class="fa fa-google-plus"></i> </a>
                <a href="http://linkedin.com" target="_blank"> <i class="fa fa-linkedin"></i> </a>
                <a href="http://youtube.com" target="_blank"> <i class="fa fa-youtube-play"></i> </a>
                <a href="http://instagram.com" target="_blank"> <i class="fa fa-instagram"></i> </a>
                <a href="http://pintrest.com" target="_blank"> <i class="fa fa-pinterest-p"></i> </a>
            </div>

            <div class="col-md-12 mid-bottom">
                <a href="/#/terms"> Terms & conditions </a>
                <a href="/#/privacy"> Privacy Policy </a>
                <a href="/#/cod"> Cash on Delivery Policy </a>
                <a href="/#/"> Disclaimer </a>
                <a href="/#/"> Sitemap </a>
            </div>

            <div class="col-md-12 mid-bottom">
                <p> &copy; 2015 Special Foodz. All Rights Reserved. Powered By  </p>
                <a href="/#/"> Citrus Designs </a>
            </div>
        </div>

        <div id="rightfooter" class="col-md-2 no-border footer-hiring">
            <a href="/#/"> <i class="glyphicon glyphicon-user"></i> we're hiring  </a>
        </div>
        
    </div>
    
    <div class="row back-to-top">
        <img class="img-responsive" src="images/btt.png" ng-click="backToTop($event);">
        <p> Back to top </p>
    </div>
</div>