<div class="container help">
    <h1> HELP </h1>
    
    <img src="images/help.png" class="img-responsive" />
    
    <h3> EVERYONE NEEDS HELP YOU AS WELL AS WE  !!! </h3>
    
    <p> We can able to come forward to help you in some of the different terms if are having the issues which are as follows: </p>
    
    <ol> 
        <li> <p> Any technical problems are you are facing in opening the website </p> </li>
        <li> <p> Any issues in ordering the food</p> </li>
        <li> <p> Any issues when you are online transactions are not going well through website or through mobile applications. We will be able to provide you some of the suggestions for making you out of the problem/issue. </p> </li>
        <li> <p> Any issue or problems that you are not any to get the order in time or having any problem with the food that you have ordered.</p> </li>
    </ol>
    
    
</div>