<div class="container link">
    <h1> LINK WITH US </h1>
    
    <img src="images/link.png" class="img-responsive" />
    
    <p> 
        Specialfoodz is a B2B2C business platform which is helpful for increasing the business and growth rate of the restaurants. If you are restaurant owner and interested to work with us for the growth and development of your business you are free to contact us and welcome to be a part of the mission of specialfoodz which is used for the growth and development of the country.
    </p>
    
    <p> 
        YOU CAN INTIAL STEP OF WORKING WITH US IS THROUGH REGISTERATION. ALL THE DETAILS OF THE REGISTERATION AND THE PROCESSOF PAYMENTS AND CONTACT DETAILS AND THE HANDLING THE ACCOUNT AND HOW TO RESEIVE THE ORDER EVEYTHING IS PROVIDED IN A STEP-BY-STEP PROCESS WHEN YOU WILL COMPLETE THE REGISTRATION.
    </p>
    
    <p> 
        Click on the respective link and notify who you are and move further to the registration process:
    </p>
    
    <ol> 
        <li> <a href="/#/"> RESTAURANT REGISTRATION </a> </li>
        <li> <a href="/#/"> BAKERY REGISTRATION</a> </li>
        <li> <a href="/#/"> STREET FOODZ REGISTRATION</a> </li>
    </ol>
    
    
</div>