<div id="homeview">
    <div class="wrapper">
        <div id="homemenu" class="row">
            <div class="row">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a data-toggle="tab" href="#todayspecial"  ng-click="$event.preventDefault()">Today&#39;s special </a></li>
                    <li role="presentation"><a data-toggle="tab" href="#needacake" ng-click="$event.preventDefault()">Need a cake</a></li>
                    <li role="presentation"><a data-toggle="tab" href="#restaurents"  ng-click="$event.preventDefault()">Restaurents</a></li>
                    <li role="presentation"><a data-toggle="tab" href="#offers"  ng-click="$event.preventDefault()">Offers</a></li>
                    <li role="presentation"><a href="http://specialfoodz.blogspot.in/">Blog</a></li>
                </ul>
            </div>

            <div class="tab-content">

                <div id="todayspecial" class="tab-pane fade in active">


                    <form action="/#/todayspecial">

                        <div class="form-group ">
                            <label htmlFor="searchfortodaysspecial">Search for today&#39;s special</label>
                            <div class="menusearch ">
                                <input type="text" class="form-control col-md-8" id="searchfortodaysspecial" placeholder="Type your search terms" />
                                <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-search"></i>  Search </button>
                            </div>
                        </div>
                    </form>
                </div>


                <div id="needacake" class="tab-pane fade">

                    <form action="/#/needacake">
                        <div class="form-group ">
                            <label htmlFor="searchforneedacake">Search for Cake</label>
                            <div class="menusearch ">
                                <input type="text" class="form-control col-md-8" id="searchforneedacake" placeholder="Type your search terms" />
                                <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-search"></i>  Search </button>
                            </div>
                        </div>
                        
                    </form>
                </div>
                <div id="restaurents" class="tab-pane fade">

                    <form action="/#/restaurents">
                        
                        <div class="form-group ">
                            <label htmlFor="searchforrestaurents">Search for Restaurents</label>
                            <div class="menusearch "> 
                                <input type="text" class="form-control col-md-8" id="searchforrestaurents" placeholder="Type your search terms" />
                                <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-search"></i>  Search </button>
                            </div>
                        </div>
                        
                    </form>
                </div>

                <div id="menu3" class="tab-pane fade">
                    <h3>Menu 3</h3>
                    <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </div>
            </div>

        </div>

        <div class="col-md-12" id="homecomponent">
            <div id="hometodayspecial">
                <div class="heading">
                    <h1> Today&#39;s <span class="red"> Special </span></h1>
                    <h4> Today&#39;s Special in your City... You Must Try</h4>
                </div>

                <div class="row">
                    
                    <div class="col-md-3" ng-repeat="data in todaySpecial">
                        <img src="images/hotel.png" class="img-responsive" />
                        
                        <div class="hoteltext">
                            <p> {{data.RestName}} </p>
                            <div class="together">
                                <div>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <div class="positionright"> <i class="fa fa-plus-circle"></i> </div>
                            </div>
                        </div>
                    </div>
                     
                </div>
            </div>
            

            <div id="homepromotebanner">
                <div>
                    <h1> Get Registered with us to promote your business </h1>
                    <button type="button" class="btn btn-default">PARTNER WITH US</button>
                </div>
            </div>

            <div id="hometodayspecial">
                <div class="heading">
                    <h1> Need <span class="red"> A Cake? </span></h1>
                    <h4> Search for a cake across your City for a special ocassion</h4>
                </div>

                <div class="row">
                       
                    <div class="col-md-3" ng-repeat="data in needaCake">
                        <img src="images/hotel.png" class="img-responsive" />
                        
                        <div class="hoteltext">
                            <p> {{data.RestName}} </p>
                            <div class="together">
                                <div>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <div class="positionright"> <i class="fa fa-plus-circle"></i> </div>
                            </div>
                        </div>
                    </div>
                       
                   
                </div>

            </div>
        </div>

        <div class="col-md-12-nope" id="appstore">
            <h1> Download our apps today and start eating</h1>
            <img class="img-responsive col-md-3" src="images/ios.png" />
            <img class="img-responsive col-md-3" src="images/android.png" />
            <img class="img-responsive col-md-3" src="images/windows.png" />
        </div>
    </div>
</div>