<div class="container about">
    <h1> PRIVACY AND POLICY </h1>
    <p class="about-text">
        We are committed to protecting your privacy. Authorized employees within the company on a need to know basis only use any information collected from individual customers. We constantly review our systems and data to ensure the best possible service to our customers.
    </p>
    
    <p class="about-text">
        The policies will be updated with the changes that we will post the revised Privacy Policy, which will take effect immediately upon posting. We notify you the changes that are made through the email address you provide to us. It is your responsibility to periodically review this Privacy Policy.Specific offence’s for unauthorized actions against computer systems and data. We will investigate any such actions with a view to prosecuting and/or taking civil proceedings to recover damages against those responsible and the user rights and restaurant owner rights will be removed and right actions are to be taken according to the rules and regulations that are provided by the cyber networking system.
    </p>
    
    <h3> Confidentiality </h3>
    
    <p class="about-text"> 
        We will not share any of the information or the personal information to any of the third party or the use of the e-mail address for the unsolicited mails. Any of the email was send from the company is to provide the regular updates and information about the up gradations and offers that are provided by the restaurants and company.
    </p>
    
    <h3> Cookies </h3>
    
    <p class="about-text">
        Like most interactive web sites this Company’s website [or ISP] uses cookies to enable us to retrieve user details for each visit. Cookies are used in some areas of our site to enable the functionality of this area and ease of use for those people visiting. Some of our affiliate partners may also use cookies.
    </p>
    
    <h3> Notification of Changes </h3>
    
    <p class="about-text">
        The Company reserves the right to change these conditions from time to time as it sees fit and your continued use of the site will signify your acceptance of any adjustment to these terms. If there are any changes to our privacy policy, we will announce that these changes have been made on our home page and on other key pages on our site. If there are any changes in how we use our site customers’ Personally Identifiable Information, notification by e-mail or postal mail will be made to those affected by this change. Any changes to our privacy policy will be posted on our web site 30 days prior to these changes taking place. You are therefore advised to re-read this statement on a regular basis.
    </p>
    
    <p class="about-text" style="font-weight:bold;">
        These terms and conditions form part of the Agreement between the Client and service provider. You’re accessing of this website and/or undertaking of a booking or Agreement indicates your understanding, agreement to and acceptance, of the Disclaimer Notice and the full Terms and Conditions contained herein. Your statutory Consumer Rights are unaffected.    
    </p>
</div>