<div class="container refer">
    <h1> REFER TO A FRIEND  </h1>
    
    <p> 
        Refer to your friends and earn something more from specialfoodz which will be providing the best options/ offers/ credits and money indifferent forms when you will be sharing with your friends.
    </p>
    
    <p> 
        These are some of the following steps which are used for referring to your friends:
    </p>
    
    <ol>
        <li> <p> Login/ create an account in specialfoodz through website or android application.</p> </li>
        <li> <p> You able to see any option in your admin panel you can see “EARN BY REFER”.</p> </li>
        <li> 
            <p> Refer to your friends about Specialfoodz by sharing through different options likely:</p> 
            <ol> 
                <li> <p> By filling the mail ID of your friends and spending the request earning the money in different forms.</p> </li>
                <li> <p> Sharing the Promo code to your friends in all the social community websites and other chatting application [Whatsapp, Viber, Snap chat etc…]</p> </li>
            </ol>
        </li>
        <li> <p> For every friend who is referring on Specialfoodz for the first time using the promo-code you and your friend will be earning some amount of Rs 50/-</p> </li>
        <li> <p> You will be getting the cash back offer in your specialfoodz e-wallet within 24 hrs.</p> </li>
        <li> <p> Each unique number of adding the amount during the offer is eligible for Rs50/- cash back for only once.</p> </li>
        <li> <p> Offer is valid to the new user on their first transaction only.</p> </li>
        <li> <p> The code is applicable only on Android, iOS and windows mobile Application.</p> </li>
    </ol>
    
    <p> 
        IF YOU ARE HAVING ANY KIND OF FURTHER QUESTION YOU ARE FREE TO CONTCT US THROUGH OUR EMAIL <b> “CONTACT@SPECIALFOODZ.COM” </b>
    </p>
    
    <a href="/#/"> REFER TO A FRIEND NOW ≫≫ </a>
    
    <h3> <b> DOWNLOAD THE MOBILE APPLICATION </b> </h3>
    
    <img src="images/refer.png" class="img-responsive" />
    
    
</div>