<div class="container about team">
    <h1> The Rockstars </h1>
    
    <p class="about-text">
        In this there is no need to check the template which use can find the Google that are creative 
        once showing the theme at the background and telling how it works and what we are?
    </p>
    
    <img class="img-responsive" src="images/sfzteam.jpg" />
    
    <h3> LEELA V KRISHNA </h3>
    <h4> CO-FOUNDER & CHIEF EXECUTIVE OFFICER </h4>
     
    <p class="about-text">
        Leela Krishna Vegi is co-founder of the specialfoodz Pvt Ltd and founder of Leevenspark.com. He had done his Bachelors in Mechanical Engineer, M.B.A – Power Management and PGCC from National Power Training Institute [N.P.T.I], Faridabad which is recognized by Ministry of Power. As he is very much interested in the research and published some of the research papers with Venu Gopal on design aspects, new innovative engine concept, other e-vehicle concepts and other alternative energy sources for sustainability and more concern most the new renewable technology development in the future phases of business development of the company. He will be involved in the business development and marketing in Specialfoodz Pvt Ltd and more targets to reach. 
    </p>
    
    <h3> PAVAN KUMAR </h3>
    <h4> CO-FOUNDER & CHEF OPERATING OFFICER </h4>
    
    <p class="about-text">
        Pavan is co-founder of the Specialfoodz.com. He completed his MBA - Power Management from National Power Training Institute [N.P.T.I] and completed his bachelors in Electrical & Electronics Engineering from Bharath College of Engineering. He had previous Experience in maintaining www.chaser.co.in website. He is good foodie and traveller to explore new places to eat best dishes. Pavan is a good foodie working with Leela Krishna for the development of this company in various aspects.
    </p>
    
    <h3> VENU V GOPAL </h3>
    <h4> CHEF FINANICAL OFFICER </h4>
    
    <p class="about-text">
        Venu Gopal Vegi completed his Bachelor’s in Mechanical Engineering and done his Masters of Financial Engineering in Golden Gate University, San Francisco. He is having some research papers publications in both engineering and financial sector. He is a Business Engineer, Web Developer since 2011. As a part of the Special foodz dealing with the Finance helping the company is promoting the website and finding the new business development techniques which will be used for the services of the specialfoodz.com for both B2B and B2C. 
    </p>
    
    <h3> J.HAREESH </h3>
    <h4> CHIEF TECHNICAL OFFICER </h4>
    
    <p class="about-text">
        J. Hareesh is having 3 years experienced in Developing Android Application. He completed his bachelors in computer science engineering from Sree Dattha Institute of Engineering and Science. He always wants to be an achiever in academics or professional life or sports or any other field in which is more focused and interested. He believes in success through hard work & dedication which takes him to a successful path. 
    </p>
    
    <h3> HAREESH CHINNAM </h3>
    <h4> CHIEF MARKETING OFFICER </h4>
    
    <p class="about-text">
        Hareesh Chinnam is contributing his services as Chief Marketing Officer [CMO] of Special foodz group from the initial stage of the specialfoodz development. Previously he is having work experience with Altus Online Pvt Ltd in Bangalore and leveraged his marketing knowledge. He has hands on experience on Digital Marketing. Hareesh holds a Master of Business Administration degree from Alliance University and Bachelor of Technology degree from SRM University specialized in Computer Science.
    </p>
    
     <p class="about-text">
        I HOPE YOU ALL WILL LIKE OUR SERVICES AND USE OUR SERVICES FOR A LONG PERIOD OF TIME AND MAKE US MORE SUCESSFUL
    </p>
</div>