<div class="container about">
    <h2> TERMS AND CONDITIONS </h2>
    
    <img src="images/tc.png" class="img-responsive" />
    
    <h4 style="text-decoration:underline;font-weight:bold;"> In using this website you are deemed to have read and agreed to the following terms and conditions: </h4>
    
    <p>
        The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and any or all Agreements: "Client", “You” and “Your” refers to you, the person accessing this website and accepting the Company’s terms and conditions. "The Company", “Ourselves”, “We” and "Us", refers to our Company. “Party”, “Parties”, or “Us”, refers to both the Client and ourselves, or either the Client or ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process of our assistance to the Client in the most appropriate manner, whether by formal meetings of a fixed duration, or any other means, for the express purpose of meeting the Client’s needs in respect of provision of the Company’s stated services.
    </p>
    
    <h3> TERMS AND CONDITIONS </h3>
    
    <p> •	Terms and conditions to the customer [this will be shown on the separate webpage] </p>
    
    <ol> 
        <li> 
            <p> Privacy and policy </p>
            
            <p> 
                We will be considering some of information that is required for the future contact and for providing the updates to you regarding the offers to your mail ID’s and mobile Numbers and the Special foodz that we are offering by the restaurant owners and some of the offers by SPECIALFOODZ.COM.
           </p>
           
           <h4> Some of the common details that we are considering/ required from you are: </h4>
           
           <ol>
               <li> Name – First and Last name </li>
               <li> Mail ID</li>
               <li> Mobile no</li>
               <li> Address [Current location] which is used for the delivery of your order. All your details can be changed by logging into your account.</li>
           </ol>
           
           <h4> Data protection to your details </h4>
           
           <p> 
               Whatever the data we are considering is to provide the information to you only not for any other purpose or the usage. This information will be highly secured and will be not shared or used for any of the use. We have developed the following policy that we kept in mind for any kind of the loss that will be occurring to the users and owners.
           </p>
           
           <h4> Information collected and how it will be used? </h4>
           
           <p> In SPECIALFOODZ.COM we are asking for the details in the registration process with the following details as </p>
           
           <p> Your information is taken for the analyzing and making the statics of users that no.of people who have registered in the website from the customer and the restaurant owners. The data is considered for the technical usage, how to increase the security levels, traffic controlling, further developments of the business and growth of company. </p>
           
           <p> We may share some of the information, </p>
           
           <p> With the restaurants, as you make the orders, your data will be register in that particular restaurant for the discount purpose so as no.of time you will be ordering the food items from the same restaurant you will be gaining some points that you can use for the reduction in price.</p>
           
           <p> To provide the information from the restaurants from specaialfoodz.com, who have registered in our website will be updating their restaurant information on their foodz. Each change in the information or updating of data and offers you will be receiving the notification to your mail ID. The same updated you can see when you open the mobile application.   </p>
           
           <h4> Terms and conditions to restaurant owner  </h4>
            
            <ol>
                <li>After doing all the process of registration the registration will be valid for ONE year and you will be getting the notification to your mail ID and you will be getting the call if you are very nearby to the due date.</li>
                <li>The order of the restaurant list will be showing according to the performance of the restaurant or the number of orders that the restaurant is getting in that particular day or the week. </li>
                <li>The company and the restaurant owner will be have the soft copy and hard copy deal will be taken and agreeing all the terms and conditions and the agreement cannot be broken in the middle of the service year even if you take it for the |1|2|3| years. </li>
                <li>Initially we will be entering all the data in the menu for the first time and in future it should be edited or updated by the restaurant owners. We do this initially to you just to get the idea how to add or remove the details in the DIGITAL MENU. </li>
            </ol>
           
            <h4> Terms and conditions to customer </h4>
            
            <p> As a customer he/she will be having all the right to use the services that are provided by the specialfoodz.com. </p>
            
            <p> In the registration process we are considering minimum amount of data required to maintain the privacy between the company and the customer or the user.  </p>
            
            <p> If there are any kind of illegal issue that are arise from the user, he/she will be consider into the actions and the account will be disabled completely. </p>
            
            
            <h4> Communication </h4>
            
            <p> If you are having any kind of issues with the terms and conditions or privacy and policy from the company you can notify us with the following address: </p>
            
            <p> SPECIALFOODZ Pvt. Ltd, </p>
            <p>D.NO – 7-124, </p>
            <p>GAVARAPETA STREET, THUMMAPALLA, </p>
            <p>ANAKAPALLI, VISHAKAPATNAM, </p>
            <p>ANDHRA PRADESH, </p>
            <p>PIN – 531032, </p>
            <p>MAIL ID: specialfoodz@gmail.com</p>

                
        </li>
        
        
    </ol>
    
</div>