<div class="container terms">
    <h2> TERMS AND CONDITIONS </h2>
    
    <img src="images/tc.png" class="img-responsive" />
    
    <h4 style="text-decoration:underline;font-weight:bold;"> In using this website you are deemed to have read and agreed to the following terms and conditions: </h4>
    
    <p>
        The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and any or all Agreements: "Client", “You” and “Your” refers to you, the person accessing this website and accepting the Company’s terms and conditions. "The Company", “Ourselves”, “We” and "Us", refers to our Company. “Party”, “Parties”, or “Us”, refers to both the Client and ourselves, or either the Client or ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process of our assistance to the Client in the most appropriate manner, whether by formal meetings of a fixed duration, or any other means, for the express purpose of meeting the Client’s needs in respect of provision of the Company’s stated services.    </p>
    
    <h3> TERMS AND CONDITIONS  <img src="images/terms2.png" class="img-resposive" style="width:30px"/></h3>
    
    <p> •	Terms and conditions to the customer [this will be shown on the separate webpage] </p>
    
    <ol> 
        <li> 
            <h4> <b> Privacy and policy </b> </h4>
            
            <p> 
                In this we will be taking some of the information that is required to us for the future contact and for providing the updates to you regarding the offers and the special foodz that we are offering by the restaurant owners and some of the offers by SPECIALFOODZ.COM.  
           </p>
           
           <h4> Some of the common details that we are considering/ required from you are: </h4>
           
           <ol>
               <li> Name – First and Last name </li>
               <li> Mail ID</li>
               <li> Mobile no</li>
               <li> Address [Current location] which is used for the delivery of your order. All your details can be changed by logging into your account.</li>
           </ol>
           
           <h4> <b> Data protection to your details </b> </h4>
           
           <p> 
               Whatever the data we are considering is to provide the information to you only not for any other purpose or the usage. This information will be highly secured and will be not shared or used for any of the use. We have developed the following policy that we kept in mind for any kind of the loss that will be occurring to the users and owners.
           </p>
           
           <h4> <b> Information collected and how it will be used? </b> </h4>
           
           <p> In SPECIALFOODZ.COM we are asking for the details in the registration process with the following details as </p>
           
           <p> Your information is taken for the analyzing and making the statics of users that no.of people who have registered in the website from the customer and the restaurant owners. The data is considered for the technical usage, how to increase the security levels, traffic controlling, further developments of the business and growth of company. </p>
           
           <p> We may share some of the information, </p>
           
           <p> <b> With the restaurants, as you make the orders, </b> your data will be register in that particular restaurant for the discount purpose so as no.of time you will be ordering the food items from the same restaurant you will be gaining some points that you can use for the reduction in price.</p>
           
           <p> <b> To provide the information from the restaurants from specaialfoodz.com, </b> who have registered in our website will be updating their restaurant information on their foodz. Each change in the information or updating of data and offers you will be receiving the notification to your mail ID. The same updated you can see when you open the mobile application.   </p>
           
           <h4> <b> Terms and conditions to restaurant owner </b> </h4>
            
            <ol>
                <li>After doing all the process of registration the registration will be valid for ONE year and you will be getting the notification to your mail ID and you will be getting the call if you are very nearby to the due date.</li>
                <li>The order of the restaurant list will be showing according to the performance of the restaurant or the number of orders that the restaurant is getting in that particular day or the week. </li>
                <li>The company and the restaurant owner will be have the soft copy and hard copy deal will be taken and agreeing all the terms and conditions and the agreement cannot be broken in the middle of the service year even if you take it for the <b> |1|2|3| years. </b> </li>
                <li>Initially we will be entering all the data in the menu for the first time and in future it should be edited or updated by the restaurant owners. We do this initially to you just to get the idea how to add or remove the details in the <b> DIGITAL MENU. </b> </li>
            </ol>
           
            <h4> <b>  Terms and conditions to customer </b> </h4>
            
            <p> As a customer he/she will be having all the right to use the services that are provided by the specialfoodz.com. </p>
            
            <p> In the registration process we are considering minimum amount of data required to maintain the privacy between the company and the customer or the user.  </p>
            
            <p> If there are any kind of illegal issue that are arise from the user, he/she will be consider into the actions and the account will be disabled completely. </p>
            
            
            <h4> <b> Communication </b> </h4>
            
            <p> If you are having any kind of issues with the terms and conditions or privacy and policy from the company you can notify us with the following address: </p>
            
            <p> SPECIALFOODZ Pvt. Ltd, </p>
            <p>D.NO – 7-124, </p>
            <p>GAVARAPETA STREET, THUMMAPALLA, </p>
            <p>ANAKAPALLI, VISHAKAPATNAM, </p>
            <p>ANDHRA PRADESH, </p>
            <p>PIN – 531032, </p>
            <p>MAIL ID: specialfoodz@gmail.com</p>
            
            <h4> <b> PRIVACY AND POLICY </b> </h4>
            
            <p> We are committed to protecting your privacy. Authorized employees within the company on a need to know basis only use any information collected from individual customers. We constantly review our systems and data to ensure the best possible service to our customers.
            The policies will be updated with the changes that we will post the revised Privacy Policy, which will take effect immediately upon posting. We notify you the changes that are made through the email address you provide to us. It is your responsibility to periodically review this Privacy Policy.
            </p> 
            <p> 
                Specific offence’s for unauthorized actions against computer systems and data. We will investigate any such actions with a view to prosecuting and/or taking civil proceedings to recover damages against those responsible and the user rights and restaurant owner rights will be removed and right actions are to be taken according to the rules and regulations that are provided by the cyber networking system.
            </p>
            
            <h4> <b> Confidentiality </b> </h4> 
            <p> We will not share any of the information or the personal information to any of the third party or the use of the e-mail address for the unsolicited mails. Any of the email was send from the company is to provide the regular updates and information about the up gradations and offers that are provided by the restaurants and company. </p> 
            
            <h4> <b> Cookies </b> </h4>
            
            <p> Like most interactive web sites this Company’s website [or ISP] uses cookies to enable us to retrieve user details for each visit. Cookies are used in some areas of our site to enable the functionality of this area and ease of use for those people visiting. Some of our affiliate partners may also use cookies.
            </p>

            <h4> <b> Notification of Changes </b> </h4> 
            
            <p> The Company reserves the right to change these conditions from time to time as it sees fit and your continued use of the site will signify your acceptance of any adjustment to these terms. If there are any changes to our privacy policy, we will announce that these changes have been made on our home page and on other key pages on our site. If there are any changes in how we use our site customers’ Personally Identifiable Information, notification by e-mail or postal mail will be made to those affected by this change. Any changes to our privacy policy will be posted on our web site 30 days prior to these changes taking place. You are therefore advised to re-read this statement on a regular basis.
            </p>
            <a href="http://www.allaboutcookies.org/" target="_blank" >http://www.allaboutcookies.org/ </a> link is for privacy and policy
            <p> <b> NOTE: These terms and conditions form part of the Agreement between the Client and service provider. You’re accessing of this website and/or undertaking of a booking or Agreement indicates your understanding, agreement to and acceptance, of the Disclaimer Notice and the full Terms and Conditions contained herein. Your statutory Consumer Rights are unaffected.    </b> </p>

                
                   
        </li>
        
        
    </ol>
    
</div>