<div>
    <!-- <img class="img-responsive" src="images/slide1.png" id="mainslider" /> 
    <div>
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">General</li>
        </ol>
    </div>
    -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div id="searchleftlayout">
                    <button id="map-button" type="button" class="btn btn-danger">VIEW ON MAP</button>

                    <div id="filters">
                        <div class="row" id="filterhead">
                            <p> <i class="glyphicon glyphicon-cog"></i> Filters </p>
                            <p class="positionright"> <i class="glyphicon glyphicon-plus"></i> </p>
                        </div>

                        <div id="cusinetype">
                            <h4> Cusine Type </h4>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" /> American
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" /> Asian
                                    </label>
                                </div>
                            </div>

                        </div>

                        <div id="foodtype">
                            <h4> Food Type </h4>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" /> Veg & Non Veg
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" /> Veg only
                                    </label>
                                </div>
                            </div>

                        </div>

                        <div id="pricefor2">
                            <h4> Price For 2 </h4>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" /> Rs 10 - 100
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" /> Rs 101 - 200
                                    </label>
                                </div>
                            </div>

                        </div>

                        <div id="distance">
                            <h4> Distance </h4>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" /> 0 - 2 KM
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" /> 2 - 4 KM
                                    </label>
                                </div>
                            </div>

                        </div>

                        <div id="reviewscore">
                            <h4> Review Score</h4>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" /> Superb 9+ (99)
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" /> very good 8+ (552)
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div id="needhelp">
                        <p> Hello </p>

                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div id="searchrightlayout">
                    <div id="sorters" class="row">

                        <div class="form-group col-md-2">
                            <select class="form-control">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>

                        <div class="form-group col-md-2">
                            <select class="form-control">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>

                        <div class="positionright" id="viewers">
                            <i class="fa fa-bars"></i>
                        </div>

                    </div>

                    <div id="searchcontent">
                        
                        <div class="row">
                            <div class="col-md-5 displaywrapper" ng-repeat="data in todaySpecial">
                                <div class="col-md-6">
                                    <img src="images/hotel.png" class="img-responsive" />
                                </div>

                                <div class="col-md-6">
                                    <div class="displaytext">
                                        <h4> {{data.RestName}} </h4>

                                        <p>
                                            {{data.RestAddress}}
                                        </p>

                                        <div class="displaystars">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>       
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>

</div>